<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-L博客系统</title>
</head>
<body>
<div>
    顶部分类
    {% for na in nav %}
        <a href="{% url 'category' na.id %}">{{ na.name }}</a>
    {% endfor %}
</div>
{% block main %}
{% endblock %}
<div>
    底部分类
    {% for nor in normal %}
        <a href="{% url 'category' nor.id %}">{{ nor.name }}</a>
    {% endfor %}
</div>
<div>
    侧边栏
    {% for side in sidebar %}
        <h4>{{ side.title }}</h4>
        {{ side.content_html }}
    {% endfor %}
</div>
</body>
</html>